<!-- PARALLAX ONE -->
<div id="parallax_1" class="parallax"></div>

<!-- A WELCOME -->
<section class="container-fluid text-center sect" id="a-word-of-welcome">
  <h1>WELCOME</h1>
  <div class="container">
    <!-- HELLO -->
    <section class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <!-- THE CARD -->
      <div class="card-container manual-flip">
        <div class="card">
          <!-- FRONT -->
          <div class="front">
            <div class="cover"></div>
            <div class="user">
              <img class="img-circle" src="img/icons/Hello.png" />
            </div>
            <div class="content">
              <div class="main">
                <h3 class="name">Hello!</h3>
                <p class="text-center">
                  A short greeting from the Agency. Go ahead and flip the card.
                </p>
              </div>
              <div class="footer">
                <button
                  class="btn btn-sm btn-default btn-flip"
                  title="Flip the Card"
                  data-toggle="tooltip"
                  data-placement="top"
                  onclick="rotateCard(this)"
                >
                  <i class="fa fa-mail-forward"></i> Flip
                </button>
              </div>
            </div>
          </div>
          <!-- BACK -->
          <div class="back">
            <div class="header">
              <h2 class="text-center">Hello!</h2>
              <hr />
            </div>
            <div class="content">
              <div class="main">
                <p class="text-center">
                  Our sincerest creative greetings to you. We hope that your artistic indulgence of
                  our craft, work and evidence of lengthy learning does wonders on your creative
                  taste buds. The objective here is to let our work speak for itself so we have
                  tried to keep the typical marketing lingo found in most sites to a minimum. Surely
                  you understand our approach. We're unorthodox.
                </p>
              </div>
            </div>
            <div class="footer text-center">
              <button
                class="btn btn-sm btn-default btn-flip"
                title="Flip the Card"
                data-toggle="tooltip"
                data-placement="top"
                onclick="rotateCard(this)"
              >
                <i class="fa fa-reply"></i> Unflip
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- HOWZIT? -->
    <section class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <!-- THE CARD -->
      <div class="card-container manual-flip">
        <div class="card">
          <!-- FRONT -->
          <div class="front">
            <div class="cover"></div>
            <div class="user">
              <img class="img-circle" src="img/icons/Howzit.png" />
            </div>
            <div class="content">
              <div class="main">
                <h3 class="name">Howzit?</h3>
                <p class="text-center">
                  Flipping cards is a habit. Flip this one as well won't ya?
                </p>
              </div>
              <div class="footer">
                <button
                  class="btn btn-sm btn-default btn-flip"
                  title="Flip the Card"
                  data-toggle="tooltip"
                  data-placement="top"
                  onclick="rotateCard(this)"
                >
                  <i class="fa fa-mail-forward"></i> Flip
                </button>
              </div>
            </div>
          </div>
          <!-- BACK -->
          <div class="back">
            <div class="header">
              <h2 class="text-center">Howzit?</h2>
              <hr />
            </div>
            <div class="content">
              <div class="main">
                <p class="text-center">
                  How are you doing? Go ahead and shove that stress aside if need be. Positive
                  energy is a vital element of success, we're not doing it for the sake of
                  spontaneous deed. We surely hope you're calm over there. Solutions that are
                  actually in front of you are always seemingly invisible when tensions are high and
                  frustration is galore. Stay Fresh. No bad vibes.
                </p>
              </div>
            </div>
            <div class="footer text-center">
              <button
                class="btn btn-sm btn-default btn-flip"
                title="Flip the Card"
                data-toggle="tooltip"
                data-placement="top"
                onclick="rotateCard(this)"
              >
                <i class="fa fa-reply"></i> Unflip
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- LOST? -->
    <section class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="card-container manual-flip">
        <!-- THE CARD -->
        <div class="card">
          <!-- FRONT -->
          <div class="front">
            <div class="cover"></div>
            <div class="user">
              <img class="img-circle" src="img/icons/Lost.png" />
            </div>
            <div class="content">
              <div class="main">
                <h3 class="name">Lost?</h3>
                <p class="text-center">Need Graphics? A Website? Hosting? Then you're here...</p>
              </div>
              <div class="footer">
                <button
                  class="btn btn-sm btn-default btn-flip"
                  title="Flip the Card"
                  data-toggle="tooltip"
                  data-placement="top"
                  onclick="rotateCard(this)"
                >
                  <i class="fa fa-mail-forward"></i> Flip
                </button>
              </div>
            </div>
          </div>
          <!-- BACK -->
          <div class="back">
            <div class="header">
              <h2 class="text-center">Lost?</h2>
              <hr />
            </div>
            <div class="content">
              <div class="main">
                <p class="text-center">
                  No offence taken right? We fully understand the frustrating dilemma of looking
                  around for a specific type of help online and not being pleased due to not finding
                  precisely what you're looking for. If it be Premium Quality Graphic Design, Web
                  Design and Web Development plus Hosting to top it off you're in the precise
                  digital reception. Our digital reception door mat says <strong>Welcome!</strong>
                </p>
              </div>
            </div>
            <div class="footer text-center">
              <button
                class="btn btn-sm btn-default btn-flip"
                title="Flip the Card"
                data-toggle="tooltip"
                data-placement="top"
                onclick="rotateCard(this)"
              >
                <i class="fa fa-reply"></i> Unflip
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- GAME -->
    <section class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="card-container manual-flip">
        <!-- THE CARD -->
        <div class="card">
          <!-- FRONT -->
          <div class="front">
            <div class="cover"></div>
            <div class="user">
              <img class="img-circle" src="img/icons/Game.png" />
            </div>
            <div class="content">
              <div class="main">
                <h3 class="name">It's On!</h3>
                <p class="text-center">Are we up and ready for the challenge? Yes we are!</p>
              </div>
              <div class="footer">
                <button
                  class="btn btn-sm btn-default btn-flip"
                  title="Flip the Card"
                  data-toggle="tooltip"
                  data-placement="top"
                  onclick="rotateCard(this)"
                >
                  <i class="fa fa-mail-forward"></i> Flip
                </button>
              </div>
            </div>
          </div>
          <!-- BACK -->
          <div class="back">
            <div class="header">
              <h2 class="text-center">It's On!</h2>
              <hr />
            </div>
            <div class="content">
              <div class="main">
                <p class="text-center">
                  We are your Design Agency of choice and oh it feels Mega Awesome! Thank's for
                  being a part of us and helping us grow better than we were a few seconds ago. BIG
                  THANKS. We sincerely plan to push until the service delivery brings you a smile,
                  satisfaction and gratitude. You're Awesome! We understand and acknowledge that it
                  is all of you that make us great.
                </p>
              </div>
            </div>
            <div class="footer text-center">
              <button
                class="btn btn-sm btn-default btn-flip"
                title="Flip the Card"
                data-toggle="tooltip"
                data-placement="top"
                onclick="rotateCard(this)"
              >
                <i class="fa fa-reply"></i> Unflip
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>

<!-- PARALLAX TWO -->
<div id="parallax_2" class="parallax"></div>

<!-- ABOUT -->
<section class="container-fluid text-center sect" id="about">
  <h1>ABOUT</h1>
  <!-- WRAPPER -->
  <div class="container">
    <!-- IDENTITY -->
    <section class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="card-container manual-flip">
        <!-- THE CARD -->
        <div class="card">
          <!-- FRONT -->
          <div class="front">
            <div class="cover"></div>
            <div class="user">
              <img class="img-circle" src="img/icons/Identity.png" />
            </div>
            <div class="content">
              <div class="main">
                <h3 class="name">Identity</h3>
                <p class="text-center">Flip this too, take a moment to find out who we are.</p>
              </div>
              <div class="footer">
                <button
                  class="btn btn-sm btn-default btn-flip"
                  title="Flip the Card"
                  data-toggle="tooltip"
                  data-placement="top"
                  onclick="rotateCard(this)"
                >
                  <i class="fa fa-mail-forward"></i> Flip
                </button>
              </div>
            </div>
          </div>
          <!-- BACK -->
          <div class="back">
            <div class="header">
              <h2 class="text-center">Our Identity</h2>
              <hr />
            </div>
            <div class="content">
              <div class="main">
                <p class="text-center">
                  MSDC Inc (Pty) Ltd is a Design and Applications Development Agency. Founded by
                  Marothi Mahlake and Mbongeni Lusiba in April 2015. The duo was later joined by
                  Themba Tswai and Itumeleng Selogilwe and registered in September 2016. We kept on
                  freelancing independently to establish a stable client base and reputation until
                  sufficient reputation was amassed to incorporate an entity.
                </p>
              </div>
            </div>
            <div class="footer">
              <button
                class="btn btn-sm btn-default btn-flip"
                title="Flip the Card"
                data-toggle="tooltip"
                data-placement="top"
                onclick="rotateCard(this)"
              >
                <i class="fa fa-mail-forward"></i> Unflip
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- PHILOSOPHY -->
    <section class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="card-container manual-flip">
        <!-- THE CARD -->
        <div class="card">
          <!-- FRONT -->
          <div class="front">
            <div class="cover"></div>
            <div class="user">
              <img class="img-circle" src="img/icons/Philosophy.png" />
            </div>
            <div class="content">
              <div class="main">
                <h3 class="name">Philosophy</h3>
                <p class="text-center">
                  What are we about? What do we believe in? Ain't you curious?
                </p>
              </div>
              <div class="footer">
                <button
                  class="btn btn-sm btn-default btn-flip"
                  title="Flip the Card"
                  data-toggle="tooltip"
                  data-placement="top"
                  onclick="rotateCard(this)"
                >
                  <i class="fa fa-mail-forward"></i> Flip
                </button>
              </div>
            </div>
          </div>
          <!-- BACK -->
          <div class="back">
            <div class="header">
              <h2 class="text-center">Our Philosophy</h2>
              <hr />
            </div>
            <div class="content">
              <div class="main">
                <p class="text-center">
                  We're about <em>"THE MAD SKILLZ FOR DAYS"</em> philosophy. "What? What's that you
                  say gents?" Yes you heard right. We're about the 'talent', skilled talent. We
                  emphasize on the people behind the Products and Services. People deserve credit
                  for their work as a result of them working hard. A happy individual produces
                  quality work every time. That's the madness behind our methodology.
                </p>
              </div>
            </div>
            <div class="footer text-center">
              <button
                class="btn btn-sm btn-default btn-flip"
                title="Flip the Card"
                data-toggle="tooltip"
                data-placement="top"
                onclick="rotateCard(this)"
              >
                <i class="fa fa-reply"></i> Unflip
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- MISSION -->
    <section class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="card-container manual-flip">
        <!-- THE CARD -->
        <div class="card">
          <!-- FRONT -->
          <div class="front">
            <div class="cover"></div>
            <div class="user">
              <img class="img-circle" src="img/icons/Mission.png" />
            </div>
            <div class="content">
              <div class="main">
                <h3 class="name">Mission</h3>
                <p class="text-center">Why are we as we are? Just in case you're wondering...</p>
              </div>
              <div class="footer">
                <button
                  class="btn btn-sm btn-default btn-flip"
                  title="Flip the Card"
                  data-toggle="tooltip"
                  data-placement="top"
                  onclick="rotateCard(this)"
                >
                  <i class="fa fa-mail-forward"></i> Flip
                </button>
              </div>
            </div>
          </div>
          <!-- BACK -->
          <div class="back">
            <div class="header">
              <h2 class="text-center">Our Mission</h2>
              <hr />
            </div>
            <div class="content">
              <div class="main">
                <p class="text-center">
                  We aim to empower, educate and create an awareness to entities about the power of
                  proper branding based on key branding principles. This changes how consumers
                  perceive and interact with the brand in more ways than “what meets the eye”. Our
                  approach to the text on this site shows that the methodology behind our madness is
                  genius, rather let the results attest to that.
                </p>
              </div>
            </div>
            <div class="footer text-center">
              <button
                class="btn btn-sm btn-default btn-flip"
                title="Flip the Card"
                data-toggle="tooltip"
                data-placement="top"
                onclick="rotateCard(this)"
              >
                <i class="fa fa-reply"></i> Unflip
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- AMBITION -->
    <section class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="card-container manual-flip">
        <!-- THE CARD -->
        <div class="card">
          <!-- FRONT -->
          <div class="front">
            <div class="cover"></div>
            <div class="user">
              <img class="img-circle" src="img/icons/One Thing.png" />
            </div>
            <div class="content">
              <div class="main">
                <h3 class="name">Ambition</h3>
                <p class="text-center">What are we pursuing with such passion? Find out here.</p>
              </div>
              <div class="footer">
                <button
                  class="btn btn-sm btn-default btn-flip"
                  title="Flip the Card"
                  data-toggle="tooltip"
                  data-placement="top"
                  onclick="rotateCard(this)"
                >
                  <i class="fa fa-mail-forward"></i> Flip
                </button>
              </div>
            </div>
          </div>
          <!-- BACK -->
          <div class="back">
            <div class="header">
              <h2 class="text-center">Our Ambition</h2>
              <hr />
            </div>
            <div class="content">
              <div class="main">
                <p class="text-center">
                  There's sadness oozing in the tech industry. Tech personnel are being underpaid.
                  Will it not be justice if the people who spend their time
                  <em>'learning on the job'</em> as well as at home just to keep up with the
                  <em>'latest'</em> standards in be paid exactly for what they're worth? We aim to
                  grow into the Highest paying Creative Agency that has the highest job satisfaction
                  on earth.
                </p>
              </div>
            </div>
            <div class="footer text-center">
              <button
                class="btn btn-sm btn-default btn-flip"
                title="Flip the Card"
                data-toggle="tooltip"
                data-placement="top"
                onclick="rotateCard(this)"
              >
                <i class="fa fa-reply"></i> Unflip
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>

<!-- PARALLAX THREE -->
<section id="parallax_8" class="parallax"></section>

<!-- Why Us? -->
<section class="container-fluid text-center sect" id="why-us">
  <h1>WHY MSDC?</h1>
  <div class="container">
    <!-- CLEAN CODE -->
    <section class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <!-- THE CARD -->
      <div class="card-container manual-flip">
        <div class="card">
          <!-- FRONT -->
          <div class="front">
            <div class="cover"></div>
            <div class="user">
              <img class="img-circle" src="img/icons/Clean Code.png" />
            </div>
            <div class="content">
              <div class="main">
                <h3 class="name">Clean Code</h3>
                <p class="text-center">Is the work up to standard? Yes we assure you.</p>
              </div>
              <div class="footer">
                <button
                  class="btn btn-sm btn-default btn-flip"
                  title="Flip the Card"
                  data-toggle="tooltip"
                  data-placement="top"
                  onclick="rotateCard(this)"
                >
                  <i class="fa fa-mail-forward"></i> Flip
                </button>
              </div>
            </div>
          </div>
          <!-- BACK -->
          <div class="back">
            <div class="header">
              <h2 class="text-center">Clean Code</h2>
              <hr />
            </div>
            <div class="content">
              <div class="main">
                <p class="text-center">
                  We write clean, planned, high performance, standards compliant code to ensure that
                  your web application can handle all the tasks thrown at it without disappointing
                  the user experience. Back-end code undergoes various stages of testing to ensure
                  that your Web App does what as told, not what it wants to do as a fifth grader
                  would...
                </p>
              </div>
            </div>
            <div class="footer">
              <button
                class="btn btn-sm btn-default btn-flip"
                title="Flip the Card"
                data-toggle="tooltip"
                data-placement="top"
                onclick="rotateCard(this)"
              >
                <i class="fa fa-mail-forward"></i> Unflip
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- CLEAN DESIGN -->
    <section class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <!-- THE CARD -->
      <div class="card-container manual-flip">
        <div class="card">
          <!-- FRONT -->
          <div class="front">
            <div class="cover"></div>
            <div class="user">
              <img class="img-circle" src="img/icons/Clean Design.png" />
            </div>
            <div class="content">
              <div class="main">
                <h3 class="name">Clean Design</h3>
                <p class="text-center">Is the delivery worth it? Why so confident?</p>
              </div>
              <div class="footer">
                <button
                  class="btn btn-sm btn-default btn-flip"
                  title="Flip the Card"
                  data-toggle="tooltip"
                  data-placement="top"
                  onclick="rotateCard(this)"
                >
                  <i class="fa fa-mail-forward"></i> Flip
                </button>
              </div>
            </div>
          </div>
          <!-- BACK -->
          <div class="back">
            <div class="header">
              <h2 class="text-center">Clean Design</h2>
              <hr />
            </div>
            <div class="content">
              <div class="main">
                <p class="text-center">
                  <em
                    >"A design cannot be considered art unless the purpose of the design is the
                    design itself".</em
                  >
                  Yes the graphic will tell the message that you wish it to but you gotta admit that
                  it is awesome to be easy on the eyes while massaging your arty taste buds, so
                  expect mind blowing designs that are clean yet still make people rave. Can your
                  girlfriend's looks beat that?
                </p>
              </div>
            </div>
            <div class="footer text-center">
              <button
                class="btn btn-sm btn-default btn-flip"
                title="Flip the Card"
                data-toggle="tooltip"
                data-placement="top"
                onclick="rotateCard(this)"
              >
                <i class="fa fa-reply"></i> Unflip
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- RESPONSIVE -->
    <section class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <!-- THE CARD -->
      <div class="card-container manual-flip">
        <div class="card">
          <!-- FRONT -->
          <div class="front">
            <div class="cover"></div>
            <div class="user">
              <img class="img-circle" src="img/icons/Responsive.png" />
            </div>
            <div class="content">
              <div class="main">
                <h3 class="name">Responsive</h3>
                <p class="text-center">What about mobile devices? What's the plan?</p>
              </div>
              <div class="footer">
                <button
                  class="btn btn-sm btn-default btn-flip"
                  title="Flip the Card"
                  data-toggle="tooltip"
                  data-placement="top"
                  onclick="rotateCard(this)"
                >
                  <i class="fa fa-mail-forward"></i> Flip
                </button>
              </div>
            </div>
          </div>
          <!-- BACK -->
          <div class="back">
            <div class="header">
              <h2 class="text-center">Responsive</h2>
              <hr />
            </div>
            <div class="content">
              <div class="main">
                <p class="text-center">
                  The age of .mobi is slowly vacating the premises. Websites today can wear your
                  screen like a sexy pair of jeans regardless of size. How's that for saving time,
                  money and resources? All you have to do is focus on the growth of your business
                  entity and let us crank up the code. Our Front end dev will surely produce all the
                  eye candy and practicality your site needs.
                </p>
              </div>
            </div>
            <div class="footer text-center">
              <button
                class="btn btn-sm btn-default btn-flip"
                title="Flip the Card"
                data-toggle="tooltip"
                data-placement="top"
                onclick="rotateCard(this)"
              >
                <i class="fa fa-reply"></i> Unflip
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- SPECIAISTS -->
    <section class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <!-- THE CARD -->
      <div class="card-container manual-flip">
        <div class="card">
          <!-- FRONT -->
          <div class="front">
            <div class="cover"></div>
            <div class="user">
              <img class="img-circle" src="img/icons/Specialists.png" />
            </div>
            <div class="content">
              <div class="main">
                <h3 class="name">Specialists</h3>
                <p class="text-center">Do we know what we're doing? Let us back it up...</p>
              </div>
              <div class="footer">
                <button
                  class="btn btn-sm btn-default btn-flip"
                  title="Flip the Card"
                  data-toggle="tooltip"
                  data-placement="top"
                  onclick="rotateCard(this)"
                >
                  <i class="fa fa-mail-forward"></i> Flip
                </button>
              </div>
            </div>
          </div>
          <!-- BACK -->
          <div class="back">
            <div class="header">
              <h2 class="text-center">Specialists</h2>
              <hr />
            </div>
            <div class="content">
              <div class="main">
                <p class="text-center">
                  Well seasoned Graphic Designers, Well seasoned Digital Illustrators, Well seasoned
                  Web Designers as well as Well seasoned Web Developers. Specialized skills,
                  expertise and knowledge yield results and therefore yields happy, satisfied
                  clients. So be not surprised if the work speaks for itself without MSDC boasting.
                  Indulge your creative senses...
                </p>
              </div>
            </div>
            <div class="footer text-center">
              <button
                class="btn btn-sm btn-default btn-flip"
                title="Flip the Card"
                data-toggle="tooltip"
                data-placement="top"
                onclick="rotateCard(this)"
              >
                <i class="fa fa-reply"></i> Unflip
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>

<!-- PARALLAX FOUR -->
<section id="parallax_1" class="parallax"></section>

<!-- THE TEAM -->
<section class="container-fluid text-center sect" id="team">
  <h1>TEAM</h1>
  <div class="container">
    <!-- THEMBA -->
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <!-- THE CARD -->
      <div class="card-container manual-flip">
        <div class="card">
          <div class="front">
            <div class="contact-cover">
              <img src="img/team/TLT.jpeg" alt="Headshot_1" />
            </div>
            <div class="user">
              <img class="img-circle" src="img/team/headshots/ThemHeadz.jpg" />
              <div class="themba"></div>
            </div>
            <div class="content">
              <div class="main">
                <h3 class="name">Themba Tswai</h3>
                <p class="profession">
                  <strong><i class="fa fa-pencil"></i></strong> Illustrator
                </p>
                <p class="text-center">
                  "I'm the swifty yet creative Samurai with a special yet potent blade, the
                  <em>Infamous Stylus.</em>"
                </p>
              </div>
              <div class="footer">
                <button
                  class="btn btn-sm btn-default btn-flip"
                  title="Flip the Card"
                  data-toggle="tooltip"
                  data-placement="top"
                  onclick="rotateCard(this)"
                >
                  <i class="fa fa-mail-forward"></i> Flip
                </button>
              </div>
            </div>
          </div>
          <!-- BACK -->
          <div class="back">
            <div class="header">
              <h5 class="motto">"Orange brings fun to the workplace peeps!"</h5>
            </div>
            <div class="content">
              <div class="main">
                <h4 class="text-center">About Me</h4>
                <p class="text-center">
                  Star-sign: Pisces<br />Personality type: ENTJ<br />Gamer, Calm, Collected,
                  Photographer &amp; Photogenic.
                </p>

                <h4 class="text-center">Skills</h4>
                <p class="text-center">
                  Photoshop | InDesign | Illustrator | Creative Direction | Photography
                </p>
              </div>
            </div>
            <div class="footer text-center">
              <button
                class="btn btn-sm btn-default btn-flip"
                title="Flip the Card"
                data-toggle="tooltip"
                data-placement="top"
                onclick="rotateCard(this)"
              >
                <i class="fa fa-reply"></i> Unflip
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- MBONGENI -->
    <section class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="card-container manual-flip">
        <div class="card">
          <div class="front">
            <div class="contact-cover">
              <img src="img/team/MML.jpeg" />
            </div>
            <div class="user">
              <img class="img-circle" src="img/team/headshots/MboHead.jpg" />
              <div class="mbo"></div>
            </div>
            <div class="content">
              <div class="main">
                <h3 class="name">Mbongeni Lusiba</h3>
                <p class="profession">
                  <strong><i class="fa fa-briefcase"></i></strong> Managing Director
                </p>
                <p class="text-center">
                  "Sup. I bring the streets to the corporate playground with my designs. No Doubt!"
                </p>
              </div>
              <div class="footer">
                <button
                  class="btn btn-sm btn-default btn-flip"
                  title="Flip the Card"
                  data-toggle="tooltip"
                  data-placement="top"
                  onclick="rotateCard(this)"
                >
                  <i class="fa fa-mail-forward"></i> Flip
                </button>
              </div>
            </div>
          </div>

          <div class="back">
            <div class="header">
              <h5 class="motto">"Green is about the growth. Sustainable growth!"</h5>
            </div>
            <div class="content">
              <div class="main">
                <h4 class="text-center">About Me</h4>
                <p class="text-center">
                  Star-sign: Gemini<br />Personality type: ENFP<br />Social, Vibrant, Energetic,
                  Charismatic &amp; Music Producer.
                </p>

                <h4 class="text-center">Skills</h4>
                <p class="text-center">
                  Photoshop | Illustrator | InDesign | FL Studio | Music Production
                </p>
              </div>
            </div>
            <div class="footer text-center">
              <button
                class="btn btn-sm btn-default btn-flip"
                title="Flip the Card"
                data-toggle="tooltip"
                data-placement="top"
                onclick="rotateCard(this)"
              >
                <i class="fa fa-reply"></i> Unflip
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- MNCEDISI -->
    <section class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <!-- THE CARD -->
      <div class="card-container manual-flip">
        <div class="card">
          <!-- FRONT -->
          <div class="front">
            <div class="contact-cover">
              <img src="img/team/IMS.jpeg" />
            </div>
            <div class="user">
              <img class="img-circle" src="img/team/headshots/MnceHead.jpg" />
              <div class="stumza"></div>
            </div>
            <div class="content">
              <div class="main">
                <h3 class="name">Mncedisi Selogilwe</h3>
                <p class="profession">
                  <strong><i class="fa fa-window-maximize"></i></strong> UI Specialist
                </p>
                <p class="text-center">
                  "Nah bro! Don't add unnecessary spices to a world class design! You'll ruin it..."
                </p>
              </div>
              <div class="footer">
                <button
                  class="btn btn-sm btn-default btn-flip"
                  title="Flip the Card"
                  data-toggle="tooltip"
                  data-placement="top"
                  onclick="rotateCard(this)"
                >
                  <i class="fa fa-mail-forward"></i> Flip
                </button>
              </div>
            </div>
          </div>
          <!-- BACK -->
          <div class="back">
            <div class="header">
              <h5 class="motto">"From the mellow vibes of the yellow room, Peace!"</h5>
            </div>
            <div class="content">
              <div class="main">
                <h4 class="text-center">About Me</h4>
                <p class="text-center">
                  Star-sign: Scorpio<br />Personality type: INFP<br />
                  Quiet, Idealist, Graphic Artist, Minimalist Guru, &amp; Harmonious.
                </p>

                <h4 class="text-center">Skills</h4>
                <p class="text-center">
                  Photoshop | Illustrator | InDesign | Premiere Pro | Graphic Arts | Storyboarding |
                  Creative Direction
                </p>
              </div>
            </div>
            <div class="footer text-center">
              <button
                class="btn btn-sm btn-default btn-flip"
                title="Flip the Card"
                data-toggle="tooltip"
                data-placement="top"
                onclick="rotateCard(this)"
              >
                <i class="fa fa-reply"></i> Unflip
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- MAROTHI -->
    <section class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <!-- THE CARD -->
      <div class="card-container manual-flip">
        <div class="card">
          <div class="front">
            <div class="contact-cover">
              <img src="img/team/MMM.jpg" />
            </div>
            <div class="user">
              <img class="img-circle" src="img/team/headshots/MarHead.jpg" />
              <div class="hlakzin"></div>
            </div>
            <div class="content">
              <div class="main">
                <h3 class="name">Marothi Mahlake</h3>
                <p class="profession">
                  <strong><i class="fa fa-code"></i></strong> Developer
                </p>
                <p class="text-center">
                  "Need a Web App? REST Api? I'm ready to sort you out promptly. <br />
                  Call the Code Artist."
                </p>
              </div>
              <div class="footer">
                <button
                  class="btn btn-sm btn-default btn-flip"
                  title="Flip the Card"
                  data-toggle="tooltip"
                  data-placement="top"
                  onclick="rotateCard(this)"
                >
                  <i class="fa fa-mail-forward"></i> Flip
                </button>
              </div>
            </div>
          </div>
          <!-- BACK -->
          <div class="back">
            <div class="header">
              <h5 class="motto">"Red hot passion is in the building! That's Wassup!"</h5>
            </div>
            <div class="content">
              <div class="main">
                <h4 class="text-center">About Me</h4>
                <p class="text-center">
                  Star-sign: Capricorn<br />Personality type: INTJ<br />Poet, Quiet, Calm, Book
                  Worm, Essayist, Visionary &amp; Unorthodox.
                </p>

                <h4 class="text-center">Skills</h4>
                <p class="text-center">C# | Web API | ASP.Net | MVC | jQuery | Angular</p>
              </div>
            </div>
            <div class="footer text-center">
              <button
                class="btn btn-sm btn-default btn-flip"
                title="Flip the Card"
                data-toggle="tooltip"
                data-placement="top"
                onclick="rotateCard(this)"
              >
                <i class="fa fa-reply"></i> Unflip
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
