<!-- PARALLAX -->
<div id="graphic-d" class="parallax"></div>

<!-- GRAPHIC DESIGN -->
<section class="container-fluid text-center sect" id="graphic">
    <h1>GRAPHIC DESIGN</h1>
    <div class="container">
		<!-- BRAND BOOKS -->
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
			<!-- THE CARD -->
			<div class="card-container manual-flip">
				<div class="card">
					<!-- FRONT -->
					<div class="front">
						<div class="cover">
						</div>
						<div class="user">
							<img class="img-circle" src="img/icons/Brand Book.png" />
						</div>
						<div class="content">
							<div class="main">
								<h3 class="name">Brand Books</h3>
								<p class="text-center">Need a branding manual / guide for your entity? Let's make one.</p>
							</div>
							<div class="footer">
								<button class="btn btn-sm btn-default btn-flip" title="Flip the Card" data-toggle="tooltip" data-placement="top" onclick="rotateCard(this)">
									<i class="fa fa-mail-forward"></i> Flip
								</button>
							</div>
						</div>
					</div>
					<!-- BACK -->
					<div class="back">
						<div class="header">
							<h2 class="text-center">Brand Books</h2>
							<hr />
						</div>
						<div class="content">
							<div class="main">
								<p class="text-center">
									All organisations must be organised in order to be efficient when it comes to yielding favourable results. Your organisational brand image needs to be organised as well. We don't want branding errors due to various designers undertaking projects do we? Corporate colour schemes have their experts as well. So solve the madness, give us a holler, let us engage and order a brand manual.
								</p>
							</div>
						</div>
						<div class="footer text-center">
							<button class="btn btn-sm btn-default btn-flip" title="Flip the Card" data-toggle="tooltip" data-placement="top" onclick="rotateCard(this)">
								<i class="fa fa-reply"></i> Unflip
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- PRINTABLE(S) -->
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
			<!-- THE CARD -->
			<div class="card-container manual-flip">
				<div class="card">
					<!-- FRONT -->
					<div class="front">
						<div class="cover">
						</div>
						<div class="user">
							<img class="img-circle" src="img/icons/Printables.png" />
						</div>
						<div class="content">
							<div class="main">
								<h3 class="name">Printable(s)</h3>
								<p class="text-center">Posters, Banners Flyers, Brochures, Packaging, a myriad of artwork.</p>
							</div>
							<div class="footer">
								<button class="btn btn-sm btn-default btn-flip" title="Flip the Card" data-toggle="tooltip" data-placement="top" onclick="rotateCard(this)">
									<i class="fa fa-mail-forward"></i> Flip
								</button>
							</div>
						</div>
					</div>
					<!-- BACK -->
					<div class="back">
						<div class="header">
							<h2 class="text-center">Printable(s)</h2>
							<hr />
						</div>
						<div class="content">
							<div class="main">
								<p class="text-center">
									Is it not awesome that we're your Design Agency? Don't ask us why, just let the service delivery do all the talking here! Need Poster Designs, Signage Artwork, Social Media Corporate Cover Pictures and Avatar Pictures, Banner Designs etcetera? The list is semi-infinite really. The skill-set is diverse here at MSDC, just let us know what artwork you have in mind and we're on it.
								</p>
							</div>
						</div>
						<div class="footer text-center">
							<button class="btn btn-sm btn-default btn-flip" title="Flip the Card" data-toggle="tooltip" data-placement="top" onclick="rotateCard(this)">
								<i class="fa fa-reply"></i> Unflip
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- BRANDING -->
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
			<!-- THE CARD -->
			<div class="card-container manual-flip">
				<div class="card">
					<!-- FRONT -->
					<div class="front">
						<div class="cover">
						</div>
						<div class="user">
							<img class="img-circle" src="img/icons/Branding.png" />
						</div>
						<div class="content">
							<div class="main">
								<h3 class="name">Branding</h3>
								<p class="text-center">Need logos, biz cards, letterheads, etcetera? We're here to serve.</p>
							</div>
							<div class="footer">
								<button class="btn btn-sm btn-default btn-flip" title="Flip the Card" data-toggle="tooltip" data-placement="top" onclick="rotateCard(this)">
									<i class="fa fa-mail-forward"></i> Flip
								</button>
							</div>
						</div>
					</div>
					<!-- BACK -->
					<div class="back">
						<div class="header">
							<h2 class="text-center">Branding</h2>
							<hr />
						</div>
						<div class="content">
							<div class="main">
								<p class="text-center">
									Ever wondered what the proper colours for your industry are? Do you know what corporate colours are saying? Don't fret, not only will you have your logo and other CorporateID items but you'll know your entity's brand even the rationale. You'll be selling the company like its DNA. Most branding out there does not deliver the message properly, don't let yours do such.
								</p>
							</div>
						</div>
						<div class="footer text-center">
							<button class="btn btn-sm btn-default btn-flip" title="Flip the Card" data-toggle="tooltip" data-placement="top" onclick="rotateCard(this)">
								<i class="fa fa-reply"></i> Unflip
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- TEMPLATES -->
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
			<!-- THE CARD -->
			<div class="card-container manual-flip">
				<div class="card">
					<!-- FRONT -->
					<div class="front">
						<div class="cover">
						</div>
						<div class="user">
							<img class="img-circle" src="img/icons/Doc Temps.png" />
						</div>
						<div class="content">
							<div class="main">
								<h3 class="name">Templates</h3>
								<p class="text-center">Corporate document temps you say? Your desire is our mission!</p>
							</div>
							<div class="footer">
								<button class="btn btn-sm btn-default btn-flip" title="Flip the Card" data-toggle="tooltip" data-placement="top" onclick="rotateCard(this)">
									<i class="fa fa-mail-forward"></i> Flip
								</button>
							</div>
						</div>
					</div>
					<!-- BACK -->
					<div class="back">
						<div class="header">
							<h2 class="text-center">Templates</h2>
							<hr />
						</div>
						<div class="content">
							<div class="main">
								<p class="text-center">
									Entities must look good, proper and professional always. Documents, Invoices, Presentations etc. An attractive and professional look and feel has now morphed into an integral prerequisite for more efficient marketing and being taken seriously as an entity. Psychology can serve as a potent tool to make an entity thrive when capitalized on. Get a MSDC template set.
								</p>
							</div>
						</div>
						<div class="footer text-center">
							<button class="btn btn-sm btn-default btn-flip" title="Flip the Card" data-toggle="tooltip" data-placement="top" onclick="rotateCard(this)">
								<i class="fa fa-reply"></i> Unflip
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- PARALLAX -->
<div id="web-dev" class="parallax"></div>

<!-- WEB DEVELOPMENT -->
<section class="container-fluid text-center sect" id="web">
    <h1>WEB DEVELOPMENT</h1>
    <div class="container">
		<!-- HTML SITES -->
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
			<!-- THE CARD -->
			<div class="card-container manual-flip">
				<div class="card">
					<!-- FRONT -->
					<div class="front">
						<div class="cover">
						</div>
						<div class="user">
							<img class="img-circle" src="img/icons/Clean Code.png" />
						</div>
						<div class="content">
							<div class="main">
								<h3 class="name">HTML Sites</h3>
								<p class="text-center">A basic site? An online presence? Flip and find out.</p>
							</div>
							<div class="footer">
								<button class="btn btn-sm btn-default btn-flip" title="Flip the Card" data-toggle="tooltip" data-placement="top" onclick="rotateCard(this)">
									<i class="fa fa-mail-forward"></i> Flip
								</button>
							</div>
						</div>
					</div>
					<!-- BACK -->
					<div class="back">
						<div class="header">
							<h2 class="text-center">HTML Sites</h2>
							<hr />
						</div>
						<div class="content">
							<div class="main">
								<p class="text-center">
									Are you running a small to mid-sized business with a need for an online presence? Awesome. We promise to have your site doing its job of getting the word out there and also making your entity look the part online just as it does in the real world. Be creative like us. Trendy does not leave a memorable mark on users. A personal touch always does it best!
								</p>
							</div>
						</div>
						<div class="footer text-center">
							<button class="btn btn-sm btn-default btn-flip" title="Flip the Card" data-toggle="tooltip" data-placement="top" onclick="rotateCard(this)">
								<i class="fa fa-reply"></i> Unflip
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- BLOG SITES -->
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
			<!-- THE CARD -->
			<div class="card-container manual-flip">
				<div class="card">
					<!-- FRONT -->
					<div class="front">
						<div class="cover">
						</div>
						<div class="user">
							<img class="img-circle" src="img/icons/Blog.png" />
						</div>
						<div class="content">
							<div class="main">
								<h3 class="name">Blog Sites</h3>
								<p class="text-center">Blogs or Online forums available? Contact Us.</p>
							</div>
							<div class="footer">
								<button class="btn btn-sm btn-default btn-flip" title="Flip the Card" data-toggle="tooltip" data-placement="top" onclick="rotateCard(this)">
									<i class="fa fa-mail-forward"></i> Flip
								</button>
							</div>
						</div>
					</div>
					<!-- BACK -->
					<div class="back">
						<div class="header">
							<h2 class="text-center">Blog Sites</h2>
							<hr />
						</div>
						<div class="content">
							<div class="main">
								<p class="text-center">
									Are you planning on publishing your own articles online for your viewers to read? You want to be able to include media relevant your post? Well, that's no issue. You see, we hate it when we build sites and they're wasting resources up there and are generating no traffic. We understand that you want traffic coming on to the site and some activity.
								</p>
							</div>
						</div>
						<div class="footer text-center">
							<button class="btn btn-sm btn-default btn-flip" title="Flip the Card" data-toggle="tooltip" data-placement="top" onclick="rotateCard(this)">
								<i class="fa fa-reply"></i> Unflip
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- E-COMM -->
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
			<!-- THE CARD -->
			<div class="card-container manual-flip">
				<div class="card">
					<!-- FRONT -->
					<div class="front">
						<div class="cover">
						</div>
						<div class="user">
							<img class="img-circle" src="img/icons/E-Comm.png" />
						</div>
						<div class="content">
							<div class="main">
								<h3 class="eComm">eCommerce</h3>
								<p class="text-center">A store online? An online catalogue? Sweet!</p>
							</div>
							<div class="footer">
								<button class="btn btn-sm btn-default btn-flip" title="Flip the Card" data-toggle="tooltip" data-placement="top" onclick="rotateCard(this)">
									<i class="fa fa-mail-forward"></i> Flip
								</button>
							</div>
						</div>
					</div>
					<!-- BACK -->
					<div class="back">
						<div class="header">
							<h2 class="text-center">eCommerce</h2>
							<hr />
						</div>
						<div class="content">
							<div class="main">
								<p class="text-center">
									Online stores do wondrous work when it comes to magnifying the probability of guaranteed sales for any type of commercial entity. So if you have inventory full of stock that can be delivered to clients don't hesitate in investing in your company by automating a part of your sales force on top of your on site sales reps. Increase sales gateways.
								</p>
							</div>
						</div>
						<div class="footer text-center">
							<button class="btn btn-sm btn-default btn-flip" title="Flip the Card" data-toggle="tooltip" data-placement="top" onclick="rotateCard(this)">
								<i class="fa fa-reply"></i> Unflip
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- CUSTOM -->
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
			<!-- THE CARD -->
			<div class="card-container manual-flip">
				<div class="card">
					<!-- FRONT -->
					<div class="front">
						<div class="cover">
						</div>
						<div class="user">
							<img class="img-circle" src="img/icons/Custom.png" />
						</div>
						<div class="content">
							<div class="main">
								<h3 class="name">Custom</h3>
								<p class="text-center">Need a site tailor made to your business needs? Sorted!</p>
							</div>
							<div class="footer">
								<button class="btn btn-sm btn-default btn-flip" title="Flip the Card" data-toggle="tooltip" data-placement="top" onclick="rotateCard(this)">
									<i class="fa fa-mail-forward"></i> Flip
								</button>
							</div>
						</div>
					</div>
					<!-- BACK -->
					<div class="back">
						<div class="header">
							<h2 class="text-center">Custom</h2>
							<hr />
						</div>
						<div class="content">
							<div class="main">
								<p class="text-center">
									Problem solving ability and Logic are imperative attributes for Software Developers. Every project teaches us something new. So if you have an online solution that is a great idea conceptually and you'd love to have the idea implemented in the real world feel free to hit us with the challenge and we'll be with you every step of the way.
								</p>
							</div>
						</div>
						<div class="footer text-center">
							<button class="btn btn-sm btn-default btn-flip" title="Flip the Card" data-toggle="tooltip" data-placement="top" onclick="rotateCard(this)">
								<i class="fa fa-reply"></i> Unflip
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- PARALLAX -->
<section id="hosting" class="parallax"></section>