<!-- HEADER PARALLAX -->
<header class="parallax" id="img-terms"></header>
<article class="container">
	<h1>MSDC Inc (Pty) Ltd | Terms of Service</h1>
	<hr />
	<!-- INTRO -->
	<section id="intro" class="jumbotron">
		<h2>Introduction</h2>
		<hr />
		<p>
			First and foremost, thank you for taking the time and initiative to read our Terms of Service. We understand how tedious reading can feel. We also know that <em>"Knowledge Pays Dividends"</em>. Knowing the terms in advance not only enhances the customer service but also the service delivery and customer experience to a procedure that is seemingly tedious. Communication will surely be much more pleasant for both MSDC Inc (Pty) Ltd and our appreciated clients due to knowledge of terms prior to placing a service request to MSDC.
		</p>
	</section>
	<!-- GRAPHIC DESIGN & BRNDING -->
	<h2>Graphic Design and Branding</h2>
	<hr />
	<h3>The Procedure</h3>
	<ol>
		<li>
			The client obtains contact with MSDC Inc (Pty) Ltd through Mobile or Email with regards to the order;
		</li>
		<li>
			A quotation will be sent to the client for approval;
		</li>
		<li>
			The client must approve the quote by means of emailing the signed and dated quotation back to MSDC Inc (Pty) Ltd;
		</li>
		<li>
			As the client agrees for MSDC Inc (Pty) Ltd to render service, the client must settle an upfront non-refundable 50% amount of the quoted service charge;
		</li>
		<li>
			Upon receiving emailed proof of payment from the client MSDC Inc (Pty) Ltd will start the Design Project;
		</li>
		<li>
			Upon completion of the draft design, MSDC Inc (Pty) Ltd will send it to the client for feedback and critique;
		</li>
		<li>
			The client has three free opportunities to request edits to the draft, additional edits and/ or consultations will incur a separate charge rated at R750.00 per hour;
		</li>
		<li>
			Upon the client's approval of the final draft MSDC Inc (Pty) Ltd will send an invoice to be signed and dated by the client as proof of project completion;
		</li>
		<li>
			At this stage the client is obligated to pay the remaining 50% of the quoted amount, MSDC Inc (Pty) Ltd shall not release the work for print and/or publishing up until the payment is settled;
		</li>
		<li>
			Upon receiving legitimate proof of payment from the client and a signed proof of project delivery form, MSDC Inc will send the print or publish ready documents to the client, this excludes source project files as they're MSDC Inc (Pty) Ltd property.
		</li>
	</ol>

	<h3>Charges</h3>
	<p>
		Clients will need to contact us for pricing as the prices vary depending on projects, clients may send us their message through our <a href="~/contact#form">Contact Form</a> or by email by means of clicking the envelope on our footer for convenience. Response from a client containing a signed quotation entails that the client agrees with the quotation and our Terms of Service.
	</p>
	<p>
		Assuming that the case be that MSDC Inc (Pty) Ltd has received this form of approval from the client, MSDC Inc (Pty) Ltd now has the obligation to commence with the project. As such, the client has an obligation to settle an upfront non-refundable 50% portion of the quoted amount before the project officially commences.
	</p>

	<h3>Source / Project Files</h3>
	<p>
		Proof and/ or PDF files shall be delivered to the client as appropriate for the intended application of the design as detailed in the project brief. The release of source project files is not included in the quoted price, the files include but are not limited to: .indd, .psd, .ai, .png, .fla or any other format of source file or code file(s). Should the client require the release of these files they'll be subject to a separate quotation / release charge.
	</p>

	<h3>Payments</h3>
	<p>
		On project completion clients will receive an invoice via email, this invoice has space for dating, signing and the indications of such thereof. The signed document serves as proof of approval of the overall completion of the project and related project charges. As soon as MSDC Inc (Pty) Ltd receives the document the client has a 30 day obligation to settle the remaining 50% of the quoted price.
	</p>
	<p>
		Accounts that have not been settled within the 30 day settlement period preceding the invoice date will incur a late payment penalty by means of a 6% interest fee over and above the total quoted amount.<br />
		Payments may be made via: EFT, Credit Card, Wire Transfers, Direct Deposits and Cash Deposits.<br />
		Publication and/ or release of the work done by MSDC Inc (Pty) Ltd shall not take place up until the full payment has been settled.
	</p>

	<h3>Edits / Alterations</h3>
	<p>
		Clients acknowledge as well as agree that changes required over and above the estimated job or in addition to the agreed specifications having already approved the design or having utilized the three free edit chances during the review period will incur additional charges depending on the nature of the alteration.
	</p>
	<!-- WEB DESIGN & DEVELOPMENT -->
	<h2>Web Design and Development</h2>
	<hr />
	<h3>The Procedure</h3>
	<ol>
		<li>
			Have contact with us about a Website / Web Application Project could be via phone or email;
		</li>
		<li>
			The client will be interviewed by means a phone interview or a questionnaire can also be sent for the client's convenience;
		</li>
		<li>
			A document called a Software Specification Requirement (SRS) signed by our Web Developer will be sent to the client to be read and signed as an agreement to the specifications and requirements based on the interview whether personal or via a questionnaire;
		</li>
		<li>
			Once the client has agreed by means of signing the doc and emailing a scanned version to us, a mandatory 25% deposit is required before the project officially commences;
		</li>
		<li>
			The Planning and Prototyping phases of the project commence sequentially following the specs stipulated on the SRS (Signed) document;
		</li>
		<li>
			The proposed designs and/or prototype will be shown to the client for approval/ feedback, another 25% deposit is mandatory prior to the final build and testing of the product;
		</li>
		<li>
			Final changes will be made the product will undergo the stages of testing, debugging and documenting respectively, once quality testing is done the product will be hosted temporarily on a temporary domain for the client to examine before hosting it on a production server;
		</li>
		<li>
			Once the client is satisfied with the product, it'll remain with MSDC until the remaining amount is fully paid up, this is to ensure payment guarantee as we cannot control the site should the client have the site hosted by a third party;
		</li>
		<li>
			The client can opt to have MSDC Inc (Pty) Ltd set up hosting on their behalf at a fee that depends on the client's requirements. However, the client is free to have the site hosted by a hosting provider of their choice. However, a change of ownership fee of R1000.00 in order for the client to take ownership if the source code applies should the client wish to do such. Clients are advised to opt for a Windows hosting environment as MSDC Inc (Pty) Ltd specializes in ASP.Net as opposed to PHP or any other framework.
		</li>
	</ol>

	<h3>Website Content</h3>
	<p>
		All text based content and media is entirely the responsibility of the client. We are obligated to guide and give direction as to how to the content must be structured to best suit the website. Copywriting is not our duty however although it is a service we'll be offering soon. We will guide the client on the content that is fundamental such as text and imagery for the Home Page, About Page, Contact Page, Terms of Service Page, Privacy Policy Page and FAQ Page respectively. Login, Registration or pages of the like are self explanatory and can be handled by MSDC. NOTE: All textual content must be suitable for persons of all ages.
	</p>

	<h3>Media</h3>
	<h4>Photographs</h4>
	<p>
		All clients are advised to use High Quality web optimized imagery that is crystal clear on most display sizes for an optimal user experience. NOTE: Imagery must be suitable to persons of all ages.
	</p>
	<hr />
	<h4>Videos</h4>
	<p>
		A minimal resolution of 1280 X 720 guarantees a pleasurable experience for end users viewing the videos. Be sure to maintain a good balance between file size and quality just to cater to Data Savvy users as well. NOTE: All media must be suitable to persons of all ages.
	</p>

	<h3>Post-Production Changes</h3>
	<h4>Additional Features</h4>
	<p>
		Should the Website / Web App be in its production stage (Hosted Online) and the client would like us to build a new feature/s for the site a charge at a rate of R800.00 per hour applies to such requests based on the time required to implement the solution.
	</p>
	<hr />
	<h4>Additional Pages</h4>
	<p>
		Additional pages are rated at R450.00 per page for all our existing clients. Clients for new / in-progress projects are charged at the standard rate of R750.00 per page.
	</p>

	<h3>Project Termination</h3>
	<p>Should any client opt for project termination 36 hours into project commencement, a termination fee of R1200.00 is mandatory as time has been lost due to working on a project that will not be completed where guaranteed projects would have been in progress instead.</p>

	<!-- HOSTING -->
	<h2>Web and Email Hosting</h2>
	<p>
		As hosting is currently handled by our affiliate, feel free to check out their terms on their website we have a link to their website on our <a href="~/services#host">services page</a>.
	</p>
	<!-- OVERALL TERMS OF SERVICE -->
	<h2>General Terms of Service</h2>
	<hr />
	<h3>Copyrights and Trademarks</h3>
	<p>
		Text and Media supplied by clients for use on websites, designs etcetera are proprietary possessions of the respective clients. Any artwork, text and/or any other media supplied by MSDC Inc (Pty) Ltd on behalf of respective clients remains the property of MSDC Inc (Pty) Ltd or the suppliers of the content unless an exception has been made in writing. License for utilizing copyright material is granted to clients for use on the project.<br />
		Any software component, plugin or any other component from third party entities used in design or web projects remain the property of those third party entities respectively. Ongoing fees or licensing fees are strictly the client's duty and responsibility. By supplying text, imagery or any other media the client grants MSDC Inc (Pty) Ltd the right to utilize the content freely in order to meet client expectations with regard to the project. MSDC Inc (Pty) Ltd is entitled to replace any non-copyright royalty free material on projects.
	</p>

	<h3>Licensing</h3>
	<p>
		All work done by MSDC Inc (Pty) Ltd regardless of nature is licensed to the client on a one time basis only and may not be modified, reused or redistributed in any manner without the express written consent of MSDC Inc (Pty) Ltd and/or any of MSDC Inc (Pty) Ltd's relevant affiliates, partners or sub-contractors.
	</p>

	<h3>Data Formats</h3>
	<p>
		All clients have an obligation to comply with MSDC Inc (Pty) Ltd's standard for sending data to the service provider. Text is to be supplied to MSDC Inc (Pty) Ltd in the following formats: .docx (Microsoft Word), .doc (Microsoft Word - Legacy), .txt (Plain Text) or via email. Images must be of a quality that qualifies to be published without any form of subsequent digital image processing. MSDC Inc (Pty) Ltd shall not be held liable for any sort of poor image quality according to the client. MSDC Inc (Pty) Ltd shall not be liable for poor image quality as a result of imagery being obtained by scanning printed material due to a request by the client. NOTE: All clientèle are subject to additional charges for services including but not limited to: Art Direction, Photography Searches, Media Conversions, Digital Image Processing, Colour Corrections etcetera...
	</p>

	<h3>Project Timeline</h3>
	<p>
		Clients have an obligation to understand that estimated project timelines supplied by MSDC Inc (Pty) Ltd are merely estimations and not the factual project time-frames as the unforeseen events that are seemingly absent at the time of estimation cannot be accounted for which may result in MSDC Inc (Pty) Ltd only succeeding to complete the project at a later stage as opposed to the expected deadline.
	</p>

	<h3>Credits</h3>
	<p>
		The client agrees that MSDC Inc (Pty) Ltd is entitled to place design credits (small) on printed material or digital designs when necessary. MSDC Inc (Pty) Ltd is entitled to placing a link at the bottom of MSDC Inc (Pty) Ltd developed websites as link to MSDC Inc (Pty) Ltd's website as the Web Development Agency, also for demonstration purposes and on our design portfolio.
	</p>

	<h3>Cancellation</h3>
	<p>
		Clients are free to cancel orders given that clients understand that cancellations must be placed in written form through email to MSDC Inc (Pty) Ltd's <a href="mailto:clientservice@msdc.biz">client service</a> electronic mailbox. Clients may be invoiced for the work thus done prior to the project termination request by the client above and over the non-refundable initial payment. The balance due must be settled within the 30 days prior to the cancellation acknowledgement in writing by MSDC Inc (Pty) Ltd. NOTE: Any cancellation request is invalid up until MSDC Inc (Pty) Ltd receives the written form of the cancellation request from the client. Should the client fail to comply with these terms the client is automatically liable for the full quoted charge for the project as the cancellation is invalid.
	</p>

	<h3>Rights of Access</h3>
	<p>
		All clients are obligated to grant MSDC Inc (Pty) Ltd all necessary access to computer systems and/or other locations of hosting environments in order for MSDC Inc (Pty) Ltd to successfully publish websites or web applications, perform production level tests, database set-ups, HTML Markup re-factoring, SSL Certificate Configurations etcetera. MSDC Inc (Pty) Ltd will not be held liable for any loss or damage suffered by clients due to non-compliance. MSDC Inc (Pty) Ltd is willing to assist clients should have there been problems caused due to bugs in the software developed by MSDC Inc (Pty) Ltd. Clients are obligated to settle all necessary payments before MSDC Inc (Pty) Ltd publishes the websites or web apps on behalf of the client using the login credentials of the hosting environment supplied by the client.<br />
		<br />
		MSDC Inc (Pty) Ltd shall not be held liable should website or web apps not be uploaded due to having supplied invalid login credentials to MSDC Inc (Pty) Ltd or having modified the credentials having not alarmed MSDC Inc (Pty) Ltd about the change thereof. Should the client wish to have the project published and hosted on their own account, a release fee of R1000.00, rights and ownership of the source code will then be the property of the client and shall be validated with a signed Transfer Form with the client and MSDC Inc (Pty) Ltd's web developer being the signatories respectively.
	</p>

	<h3>Project Conclusion</h3>
	<p>
		MSDC Inc (Pty) Ltd deems all projects as complete once the client has signed the final Invoice document sent by MSDC Inc (Pty) Ltd to the client through email. External services such as print sourcing or website uploads done on behalf of the client constitute a separate project, separate charges will therefore be incurred.<br />
	</p>

	<h3>HTML Authoring (Web Design)</h3>
	<p>
		Clients are required to approve templates or jpeg mock-ups before MSDC Inc (Pty) Ltd commences with the authoring of the HTML Mark-up and styling of the websites or web apps. Once MSDC Inc (Pty) Ltd has the approval of the client major changes such as modifying the navigation mechanism, colour schemes, site structure or any other content that'll cause drastic changes to the site will incur additional charges.<br />
		<br />
		Once MSDC Inc (Pty) Ltd has completed the authoring of the site's mark-up, the 14 day review period commences. In this period, clients have the opportunity to have MSDC Inc (Pty) Ltd do minor changes on the site on their behalf at no additional cost. The changes include: Textual changes and minor adjustment to the placement of elements on web pages only. Clients may send requests for such changes to MSDC Inc (Pty) Ltd via email.
	</p>

	<h3>Search Engine Optimisation (SEO)</h3>
	<p>
		MSDC Inc (Pty) Ltd does not provide SEO services at present. All clients are therefore advised to approach SEO firms for such services as such an investment will boost the websites Search Engine rankings resulting in an overall marketing advantage for the client.
	</p>

	<h3>Acceptance of Quotation(s) and Terms</h3>
	<p>
		Placement of an order to MSDC Inc (Pty) Ltd in any manner is deemed to be the acceptance of MSDC Inc (Pty) Ltd's Terms of service. A quoted estimate validated by the client's signature on the quotation document or in writing via email entails the acceptance of the quoted estimate and an agreement to comply with MSDC Inc (Pty) Ltd's Terms of Service.
	</p>

	<h2>Disclaimer</h2>
	<p>
		This version of MSDC Inc (Pty) Ltd's Terms of Service supersede any previous version of our Terms of Service whether stated by MSDC Inc (Pty) Ltd or according to clients. MSDC Inc (Pty) Ltd declares that these terms of service are subject to being changed without notice. As such, clients are advised to habituate keeping up to date with MSDC Inc (Pty) Ltd's Terms of service. <em>A humble thanks for taking the initiative and reading this document. You're mega awesome!</em>
	</p>
	<br />
</article>